.container-img-top{
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-top{
    @include desktop-only{
        width: 80%;
    }

    object-fit: cover;
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 1;
}

.main-restaurant{
    @include desktop-only{
        margin-left: 10%;
        margin-right: 10%;
    }
    @include tablet-only{
        padding: 40px 30px 70px 30px;
    }

    background-color: $background-color;
    z-index: 2;
    position: relative;
    margin-top: 207px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 30px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    &__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include tablet-only{
            justify-content: center;
        }

        h1{
            @include tablet-only{
                margin-right: 40px;
            }

            font-size: 30px;
            font-weight: 400;
        }
        button{
            @include btn-heart($big-heart);
        }
    }
    
    &__menu{
        @include tablet-only{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include desktop-only{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        > div {
            @include tablet-only{
                width: 500px;
            }
            @include desktop-only{
                margin: 0 40px;
            }
        }

        @include animation-card;

        h2{
            font-size: 17px;
            font-weight: 400;
            position: relative;
            text-transform: uppercase;
            margin-top: 40px;
            @include tablet-only{
                display: flex;
                justify-content: center;
                margin: 40px 0;
            }
        }
        
        h2::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
            left: 0;
            top: 22px;
            @include tablet-only{
               left: auto;
            }
        }
    }
    
    > button{
        align-self: center;
        width: 170px;
        margin: 40px 0 20px 0;
        @include btn-primary;
    }
}

.card-list{
    margin: 20px 0;
}

.card-menu{
    @include tablet-only{
        max-width: 680px;
    }

    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    @include shadow;
    &__infos{
        display: flex;
        justify-content: space-between;
        line-height: 25px;
        flex: 1;
        padding: 10px;
        &__describe{
            display: flex;
            flex-direction: column;
        }
        &__price{
            font-weight: 600;
            align-self: end;
            margin-right: 10px;
        }
        h3, p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 64vw;
            @include big-phone-only{
                width: 73vw;
            }
            @include tablet-only{
                width: 419px;
            }
        }
        h3{
            font-size: 17px;
            font-weight: 600;
            margin: 0 10px 0 0;
        }
        p{
            margin: 0 10px 0 0;
            font-size: 15px;
        }
    }
    &__checked{
        background-color: $tertiary-color;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        i{
            font-size: 30px;
            color: white;
        }
    }
    
    &:hover{
        overflow: visible;
        .card-menu__infos__describe p, .card-menu__infos__describe h3{
            width: 50vw;
            @include big-phone-only{
                width: 58vw;
            }
            @include tablet-only{
                width: 359px;
            }
        }
        .card-menu__checked{
            width: 70px;
            transition-duration: 0.3s;
            i{
                transform: rotate(360deg);
                transition-duration: 0.3s;
            }
        }
    }
}

