.header{
    display: flex;
    justify-content: center;
    padding: 14px 0;
    position: relative;
    a{
        position: absolute;
        font-size: 20px;
        left: 5%;
        align-self: center;
    }
}